openapi: 3.0.3
info:
  title: StepZen Admin Account API
  description: The StepZen Admin REST API provides programmatic access to manage your StepZen account, deployed GraphQL endpoints, API keys, schemas, and usage metrics. Endpoints are available at the StepZen management plane.
  version: '1.0'
  contact:
    name: StepZen Support
    url: https://stepzen.com/docs
  license:
    name: Proprietary
    url: https://stepzen.com/terms
servers:
- url: https://dashboard.ibm.stepzen.com/api/v1
  description: StepZen Admin API
security:
- apiKeyAuth: []
tags:
- name: Account
  description: Account information and settings
paths:
  /account:
    get:
      operationId: getAccount
      summary: Get Account
      description: Retrieve account information and usage statistics.
      tags:
      - Account
      responses:
        '200':
          description: Account information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    Account:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        plan:
          type: string
        endpointCount:
          type: integer
        requestsThisMonth:
          type: integer
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: StepZen API key as Bearer token
